/*
  Colors and fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Karantina:wght@400;700&family=Lato:wght@400;700&family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');
$font-start: 'Press Start 2P';

$primary-gray: #50514F;
$primary-red: #F25F5C;
$primary-yellow: #FFE066;
$primary-blue: #247BA0;
$secondary-blue: #70C1B3;
$background-white: whitesmoke;